<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{> title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <meta content="{{> description}}" property=og:description>
  </head>
  <body>
    <div class="content">
      {{> page}}
    </div>
  </body>
</html>
