{{#*inline "title"}}
✨
{{/inline}}
{{#*inline "page"}}
<pre class="logo" aria-hidden="true">
                           -#%@@@@*:
                      :@@@+++++++++++%@@:
                    @@+++++++++++++++++++@@
                  @@+++++++++++++++++++++++%@
                =@+++++++++++++++++++++++++++@=
               +@+++++++++++++++++++++++++++++@%
               @#@@@*++++++++++++++++++++++++++@#
             %#@%####%@+++++++++%@@@++++++++++++@
   -@@@@@@@@@###%@%###%#+++++++@@.-@@=++++++++++#@
 @@#***+++==++*#########%@%++++@@@@@@=+++++++++++@
:@%@@%%%%@@@%#*************@*++++##++++++++++++++@
 @@%%%%%%%%%%%@@@%#***#%@@@@@++++++++++++++++++++@@#
   %@@%%%%%%%%%%%%%%%%%%%%@@+++++++++++++++++++++@+++%@%
        =#@@@@@@@@%%%%@@@@++++++++++++++++++++++++++++++@@
             %@============-++++++++++++++++++++++++++++++@#
             @%---====--:::::++++++++++++++++++++++++++++++#@
             @#-:.-:::::::::::+++++++++++++++++++++++++++++*%%
             @#-:.-:::::::::::-++++++++++++++++++++++++++++**@
             @%--.:::::::::::::++++++++++++++++++++++++++++**##
             +@--::-:::::::::::-+++++++++++++++++++++++++++***@%%@@@@*
              @--:.-::::::::::::++++++++++++++++++++++++++****@%#######%@#
             :@@--::-:::::::::::-++++++++++++++++++++++++*****@###########@=
             -@%*-:::-:::::::::::++++++++++++++++++++++******%@##########@@*
             -@+%%--::-::::::::::%+++++++++++++++++++********@#####%@@@%@@
              @+++@-=::::::::::::@+++++++%******************@@##%@@@@%:
              @++++#@%==-:::::::-@*+++++*@*********%@*****#@:
            :@#%@@@@@%+@@%+======@@*++**%@*****#%@@@@%*#@@@-------:
      :------*@@@@@@@=-------====%%#@@@%#@#*+=---:@@@%#%@@+-------------
      -----------:----------------@@@@@@#------------==-----------------
             :---------------------------------------------------:
</pre>

      <nav>
        <p class="center">
          [<a href="main/">pkgs</a>]
          [<a href="https://github.com/kpcyrd/platypos">src</a>]
        </p>

        <p class="center subheadline">
          Experimental toy unix-like userspace operating system with strong preference towards Rust
        </p>
      </nav>

      <ul>
        {{#each pkgs}}
          <li>
            <a href="pkgs/main/{{this.arch}}/{{this.pkgname}}/">{{this.pkgname}}</a>
            <span>{{version this}}</span>
          </li>
        {{/each}}
      </ul>
{{/inline}}
{{> base.html.hbs }}
