pkgbase = capnproto
	pkgdesc = Cap'n Proto serialization/RPC system
	pkgver = 1.1.0
	pkgrel = 1
	url = https://capnproto.org/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = make
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = zlib
	provides = libcapnp.so
	provides = libcapnp-json.so
	provides = libcapnp-rpc.so
	provides = libcapnpc.so
	provides = libkj-async.so
	provides = libkj-gzip.so
	provides = libkj-http.so
	provides = libkj-test.so
	provides = libkj-tls.so
	provides = libkj.so
	source = capnproto-1.1.0.tar.gz::https://github.com/capnproto/capnproto/archive/v1.1.0.tar.gz
	sha512sums = 6992efffbfb375e2ce141e5e99bcab4c2ff2e1a71817d70dc71966633c18c7136e25220bf54da66928346d43697dbdf504e04a9d24cb00313a75b8d990cf53dd
	b2sums = c3ad74d509135e9e22ef645f017227ea35c6f0dc4e5d2b7757fc3b7948dacfad4cbf9e89c2f2a1d111cd5d2c4c7673e73ce138a439e5787cb160defacda99eb8

pkgname = capnproto
